footer{
    background: var(--color-primary);
    padding: 2rem 0;
    text-align: center;
    
    margin-top: 7rem;

}

footer a{
    color:var(--color-bg);
    
   

}
.footer_logo{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: .5rem 1rem;
    border-radius: 1rem;
    
}
.permalinks{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    

}

.footer_socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;

}
.footer_socials a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: .8rem;
    border-radius: .7rem;
    display: flex;
    border: 1px solid transparent;
    font-size: 2rem;

}
.footer_socials a:hover{
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer_copyright{
    margin-bottom: 4rem;
    color: var(--color-bg);

}

@media screen and (max-width:600px){
    
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer_socials{
        margin-bottom: 2.6rem;
    }
  
    }